#!/usr/bin/env sh

[ -f ~/.Xmodmap ] && xmodmap ~/.Xmodmap
[ -f ~/.Xmachine ] && ~/.Xmachine
[ -f ~/.Xresources ] && xrdb -merge ~/.Xresources

# run the default screen layout
[ -f "$HOME/.screenlayout/default.sh" ] && . ~/.screenlayout/default.sh

# set screen blanking to 20 minutes
xset s 1200 &

# set screen off to 30 minutes
xset dpms 1800 1800 1800

sxhkd &
xss-lock -- i3lock -n --color=282828 &
unclutter &
compton &
dunst &
feh --bg-scale ~/wal.jpg &
dropbox &
