!     _    ___
!    / \  / _ \   Aleks Ozolins
!   / _ \| | | |  aleks@aleksozolins
!  / ___ \ |_| |  http://www.aleksozolins.com
! /_/   \_\___/
!
! .Xresources

! cursor
Xcursor.theme: Breeze_Default

! Fonts
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintfull
